$color-text: white;
$color-back: red;
$color-back-hover: #0ace00;
$gradiente-header: linear-gradient(360deg, $color-back, $color-back-hover);
$gradiente-footer: linear-gradient(360deg, $color-back-hover, $color-back);
$sombra-texto-variables: 1px 1px 2px black;
$color-card-border: red;
$color-back-card-header: red;
