@use "mixin";
@use "color";
// FIXME: contenido repasar, pero creo que comlpetado
main {
  // DONE: estará en posición relativa con un margen.
  position: relative;
  margin: 2rem;
}

section {
  // DONE: El section será un grid que se repite con un tamaño entre 420px y 1fr.
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
  padding: 1.5rem;
  gap: 2rem;

  // DONE: Separa los hijos entre sí. Y dale una altura del 100%
  article {
    height: fit-content;
    border-radius: 10px;
    border: 3px solid color.$color-card-border;
    

    div.header, div.footer{
        
      border-top: 2px solid color.$color-card-border;
      @include mixin.header-footer(
        color.$color-text,
        color.$color-back-card-header
      );

      text-align: center;
      padding: 1rem;
    }

      div.header{
        border-radius: 7px 7px 0px 0px;
      }
      div.footer{
        border-radius: 0px 0px 7px 7px;
        text-align: right;
        font-style: italic;
      }
    

    div.body {
    padding: 1rem;
      margin: auto;
      text-align: center;

      figure {
        font-variant: small-caps;
      }
      // DONE: IMG a 400px
      img {
        width: 400px;
        height: auto;
        border-radius: 7px;
      }
    }

    div.more-info{
        p:first-of-type {
            text-indent: 1.5rem;
          }
        
          p {
            text-align: justify;
          }
    }
    // DONE: El figure de la imagen está a small-caps
  }
}
