@use "mixin";
@use "color";

main {
  position: relative;
  margin: 2rem;
}

section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
  padding: 1.5rem;
  gap: 2rem;

  article {
    height: fit-content;
    border-radius: 10px;
    border: 3px solid color.$color-card-border;
    

    div.header, div.footer{
        
      border-top: 2px solid color.$color-card-border;
      @include mixin.header-footer(
        color.$color-text,
        color.$color-back-card-header
      );

      text-align: center;
      padding: 1rem;
    }

      div.header{
        border-radius: 7px 7px 0px 0px;
      }
      div.footer{
        border-radius: 0px 0px 7px 7px;
        text-align: right;
        font-style: italic;
        
      }
    

    div.body {
    padding: 1rem;
      margin: auto;
      text-align: center;

      figure {
        font-variant: small-caps;
      }
  
      img {
        width: 400px;
        height: auto;
        border-radius: 7px;
      }
    }

    div.more-info{
        p:first-of-type {
            text-indent: 1.5rem;
          }
        
          p {
            text-align: justify;
          }
    }
  }
}
