@use "mixin";
@use "color";

@media (min-width: 768px) {
  header {
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;

    h1 {
      margin-left: 5px;
      &::before,
      &::after {
        content: url("icons/christmas-tree.png");
        padding: 1rem;
      }
    }

    nav {
      flex-grow: 1;
      margin-left: 40px;
      z-index: 1000;

      ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

          li {
            position: relative;

            ul.subitems {
              height: 0;
              opacity: 0;
              transition: height 0.5s ease-out;
              interpolate-size: allow-keywords;
              overflow: hidden;
            }
          
        }
      }
    }
  }
}
