@use 'mixin';
@use 'color';

@media (min-width: 768px){
    header{

        ul{
            display:flex;
            flex-direction: row;

        flex-grow: 1;
        margin-top: 0;
        width: 100hv;
        z-index: 100;
        }

    }
}