@use 'color';
// TODO: mixin header y footer

@mixin header-footer($text-color, $back){
    color: $text-color;
    background: $back;
}

@mixin primary-colors($color, $background) {
    color: $color;
    background: $background;
  }

  @mixin animation($nombre, $duration, $timing: linear) {
    animation: $nombre $duration $timing;
  }
